<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>dateOfBirth</th>
        <th>gender</th>
        <th>service</th>
        <th>comments</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.name }}</td>
        <td>{{ patient.dateOfBirth | customDate }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.service }}</td>
        <td>{{ patient.comments }}</td>
        

      </tr>
      
      <tr *ngFor="let patient of patients" appHighlightRows>
        <!-- ... -->
      </tr>
      
    </tbody>
  </table>
  